//font


$logofont :'Bungee', cursive;
$cursivefont:'Bebas Neue', cursive;
$mainheaderfont: 'Abril Fatface', cursive;
$subheaderfont:'Bebas Neue', cursive;
$paragraphfont:'Lato', sans-serif;


//font colors
$mainfontcolor:#f5f5f5 !important;
$secondaryfontcolor:#0a2342;


//background colors
$mainbluebackgdcolor:#187bcd;
$subbluebsckgdcolor:#2a9df4;


$mainlightbackgdcolor:#7ad7f0;
$sublightbackgdcolor:#92dff3;


$maindarkbackgdcolor:#0a2342;
$submainbackgdcolor:#00003f;


//other colors
$headercolor:#38ff14 ;
$buttoncolor:#ff0000;
